<div class="md" class="container" width=100px>
    <div class="card" style="width:70rem;">
    <div class="card-body" style="height: 155px;">
    <img class="circle responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaBO3PQB2Aza-xNuCspCSD-7envplmE5gkbg&usqp=CAU" width="100" height="100">
    <div class="container" class="p">
    <p class="card-text" style ="margin-left: 130px; margin-top:-60px"><b><h2>{{user}}</h2></b></p>
    <p class="card-text" style ="margin-left: 130px; margin-top:-20px"><b><h2> Clientid:{{id}}</h2></b></p>
    <p style="margin-left:800px;margin-top:-90px; "><b>Transaction Limit:{{transaction}}</b></p>
    
     </div>
    </div>
    </div>
    <br>
    <div style="margin-left: 830px;" >
    <button type="button" class="btn btn-success" >Create order</button>&nbsp; &nbsp; &nbsp;
    <button type="button" class="btn btn-success">Generate Report</button>
    </div><br>
    
    
     <div class="card col-md-12" >
    <table class="table table-hover" fgid="6030" style="margin-right: 500px;" >
    <thead fgid="6036">
    <tr fgid="6042">
    <th scope="col" fgid="6048">Instrument</th>
    <th scope="col" fgid="6055">Action</th>
    <th scope="col" fgid="6062">Price</th>
    <th scope="col" fgid="6069">Quantity</th>
    <th scope="col" fgid="6055">Status</th>
    <th scope="col" fgid="6069">Expirydate</th>
    </tr>
    </thead>
    <tbody fgid="6076">
    <tr class="table-success" *ngFor ="let i of ids">
    <td fgid="6095" >{{i.Instrumentid}}</td>
    <td fgid="6102">{{i.action}}</td>
    <td fgid="6109">{{i.price}}</td>
    <td fgid="6109">{{i.quantity}}</td>
    <td fgid="6109">{{i.status}}</td>
    <td fgid="6109">{{i.expirydate}}</td>
    </tr>
    
    </tbody>
    </table>
    </div>