/* .fixed-header{
   background-color:royalblue;
   border:1px solid red;
  
  max-width: 25cm;
  text-align:center;
 column-width: 3.5cm;
line-height: 1.5cm;
font-size: 0.75cm;
margin-left: 4cm;


} */