<!-- <div class="mt-5">
    <div class="card-header fs-3 text-center">
    </div>
    <div class="card-body">
        <form>
            <div *ngIf="apiResult.error" class="alert alert-danger mt-3" role="alert">
                <div class="text-center">Transaction  Failed !!  Please  Check  Your  Details.</div>
             </div>
             <div *ngIf="apiResult.success" class="alert alert-success mt-3" role="alert">
                <div class="text-center"> Transaction  Successfull  !!  Please  check  Your  Activity  Tab.</div>
             </div>
            <div class="col-md-4 offset-md-4">

                <div class="form-group">
                    <label for="recaccno" class="form-label"><b>Receiver Account No</b></label><br>
                    <input type="text" size=50% name="recaccno" placeholder=" Enter Receiver's acc number" class="form-control"
                        id="recaccno" aria-describedby="recHelp">
                    <div id="recHelp" class="form-text"></div>
                </div><br>
                <div class="form-group">
                    <label for="recaccname" class="form-label"><b>Receiver Account Name</b></label><br>
                    <input type="text" size=50% name="recaccname" placeholder=" Enter Receiver's acc name" class="form-control"
                        id="recaccname" aria-describedby="recHelp">
                    <div id="recHelp" class="form-text"></div><br>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="recbic" class="form-label"><b>Receiver BIC</b></label><br>
                            <input name="recbic" size=50% placeholder="Enter Receiver's BIC" type="text" class="form-control"
                                id="recbic">
                        </div><br>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="amount" class="form-label"><b>Amount</b></label><br>
                            <input name="amount" placeholder="Enter amount" type="text" size=50% class="form-control"
                                id="amount">
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="msgcode" class="form-label"><b>Message Code</b></label><br>
                            <select id="msgcode" name="msgcode" class="form-select" aria-label="Default select example" aria-setsize="100%">
                                <option value="" >Select Message Code</option>
                                <option *ngFor="let m of messagecode" [value]="m">{{m}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <div class="form-group">
                    <label for="transfertype" class="form-label mt-4">TransferType</label><br>
                    <select id="transfertype" name="transfertype" class="form-select">
                        <option value="">select transfer type</option>
                        <option *ngFor="let c of transfertype" [value]="c.code">{{c.name}}</option>
                    </select>
                </div><br>
                
                <div class="form-group mt-3">
                    <button type="button" (click)="handleRegister()" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div> -->




<br>
<form>
    <div *ngIf="apiResult.error" class="alert alert-danger mt-3" role="alert">
        <div class="text-center">Transaction  Failed !!  Please  Check  Your  Details.</div>
     </div>
     <div *ngIf="apiResult.success" class="alert alert-success mt-3" role="alert">
        <div class="text-center"> Transaction  Successfull  !!  Please  check  Your  Activity  Tab.</div>
     </div>
    <div class="col-md-7 offset-md-3">
        
        <div class="container">
            <fieldset>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccountno" class="form-label"><b>Receiver Account No</b></label>
                        <input type="text" name="recaccountno" placeholder="Please enter receiver's account number"
                            class="form-control" id="recaccno" aria-describedby="recHelp" [(ngModel)]="transferProfile.receiveraccountholdernumber">
                        <div id="recHelp" class="form-text"></div>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccname" class="form-label"><b>Receiver AccountHolder Name</b></label>
                        <input name="recaccname" placeholder="Please enter receiver's name" type="text"
                            class="form-control" id="recaccname" [(ngModel)]="transferProfile.receiveraccountholdername">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Receiver BIC</b></label><br>
                        <input name="recbic" size=50% placeholder="Enter Receiver's BIC" type="text" class="form-control"
                            id="recbic" [(ngModel)]="transferProfile.receiverbic">
                    </div><br>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="inst" class="form-label"><b>Institution Name</b></label><br>
                        <input name="inst" size=50% placeholder="Enter institution name" type="text" class="form-control"
                            id="inst" [(ngModel)]="transferProfile.instname">
                    </div><br>
                </div>
               <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label"><b>Amount</b></label>
                        <input name="amount" placeholder="Please enter the amount" type="text" class="form-control"
                            id="amount" [(ngModel)]="transferProfile.inramount">
                    </div>
                </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="msgcode" class="form-label"><b>Message Code</b></label>
                        <app-dropdown [schema]="messageCodeDropdownSchema" (handleChange)="messagecodeSelected($event)"></app-dropdown>
                    </div>
                </div>
                <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Transfer type Code</b></label>
                        <select id="transfertypecode" name="transfertypecode" class="form-select"
                            aria-label="Default select example" 
                            [(ngModel)]="transferProfile.transfertypecode.transfertypecode">
                            <option value="">Select the transfer type code</option>
                            <option value="B">B-Bank to Bank Tranfer</option>
                            <option value="C">C-Customer to Customer Transfer</option>
                        </select>
                        <!-- <app-dropdown [schema]="TransferTypeDropdownSchema" (handleChange)="transfertypeSelected($event)"></app-dropdown> -->
                    </div>
                </div>
                </div>
            </div>
            
            <br>
            
            <div class="row">
                <div class="col">
                    <button type="button" (click)="onSubmit()" class="btn btn-primary btn-danger ">Back</button>
                </div>
                <div class="col">
                    <button type="submit" (click)="handleTransfer()"  class="btn btn-success btn-primary">Initiate Transaction</button>
                </div>
            </div>
            </fieldset>
        </div>
    </div>
</form>
<!--{{transferProfile|json}}-->
